# python
**.mypy_cache
**.pytest_cache
.Python
.cache
.dockerignore
.env
**__pycache__
**media
!apps/tenzu/src/tenzu/base/sampledata/media
**pytest.ini
!apps/tenzu/requirements/prod.txt
**scripts
**static
!**emails/static
**tests
.venv

# common
**docs
.git
.github
.gitignore
*.md
