# python
**.mypy_cache
**.pytest_cache
.Python
.cache
.dockerignore
.env
**__pycache__
**media
!/src/base/sampledata/media/
**pytest.ini
**scripts
**static
!**emails/static
**tests
.venv

# common
**docs
.git
.github
.gitignore
*.md
