{
    debug
}

local-tenzu.biru.ovh {
   tls {
    # hack needed to solve the following issue: https://caddy.community/t/caddy-dns-challenge-not-working/26530/
    # encountered on a Linux using NetworkManager
    # resolvers 8.8.8.8 8.8.4.4
    dns ovh {
        endpoint {$OVH_ENDPOINT}
        application_key {$OVH_APPLICATION_KEY}
        application_secret {$OVH_APPLICATION_SECRET}
        consumer_key {$OVH_CONSUMER_KEY}
    }
   }

   reverse_proxy /static/* tenzu-back:8000
   reverse_proxy /api/* tenzu-back:8000
   reverse_proxy /_allauth/* tenzu-back:8000
   reverse_proxy /admin/* tenzu-back:8000
   reverse_proxy /events/ tenzu-back:8000
   reverse_proxy host.docker.internal:4200
}
