x-dev-image: &dev-image
    image: gitlab.biru.sh:4567/biru/dev/tenzu/tenzu-back/${MODULE_NAME}:develop
    build:
      context: ../../../../
      dockerfile: buildrun/docker/${MODULE_NAME}/Dockerfile
      target: dev-image
      args:
        - EXTRA_PACKAGES=${EXTRA_PACKAGES:-}

services:
  tenzu-back:
    <<: *dev-image
    volumes:
      - ../../../../src/:/tenzu/
      - tenzu-static:/public/static
      - tenzu-media:/public/media
    networks:
      - tenzu
    env_file:
      - ../../${MODULE_NAME}/dev.env
      - ../../${MODULE_NAME}/secrets.env
    depends_on:
      tenzu-worker:
        condition: service_started
      caddy:
        condition: service_started
      tenzu-db:
        condition: service_healthy
      tenzu-redis:
        condition: service_healthy
      tenzu-minio:
        condition: service_started

    command: ["python", "./manage.py", "runserver", "0.0.0.0:8000", "--settings=configurations.dev"]
#    ports:
#      - 8000:8000
  tenzu-worker:
    <<: *dev-image
    command: "python manage.py procrastinate worker"
    volumes:
      - ../../../../src/:/tenzu/
      - tenzu-static:/public/static
      - tenzu-media:/public/media
    networks:
      - tenzu
    env_file:
      - ../../${MODULE_NAME}/dev.env
      - ../../${MODULE_NAME}/secrets.env
    depends_on:
      tenzu-db:
        condition: service_healthy


  tenzu-db:
    image: postgres:17
    environment:
      POSTGRES_DB: "tenzu"
      POSTGRES_USER: "tenzu"
      POSTGRES_PASSWORD: "tenzu"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U tenzu"]
      interval: 2s
      timeout: 15s
      retries: 5
    ports:
      - 5432:5432
    volumes:
      - tenzu-db-data:/var/lib/postgresql/data
    networks:
      - tenzu

  tenzu-redis:
    image: redis:7.2
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 2s
      timeout: 15s
      retries: 5
    networks:
      - tenzu

  caddy:
    image: gitlab.biru.sh:4567/biru/dev/tenzu/tenzu-back/${MODULE_NAME}-caddy:develop
    build:
      context: ../../caddy
      dockerfile: ./Dockerfile
    env_file:
      - ../../caddy/caddy.env
    ports:
      - "80:80"
      - "443:443"
    #      - "8383:8383"
    volumes:
      - ../../caddy/Caddyfile:/etc/caddy/Caddyfile
      - ../../caddy/.caddy/config/:/config/
      - ../../caddy/.caddy/data/:/data/
      - tenzu-static:/public/static
      - tenzu-media:/public/media
    networks:
      - tenzu

  tenzu-minio:
    image: bitnamilegacy/minio:latest
    environment:
      MINIO_ROOT_USER: "tenzu"
      MINIO_ROOT_PASSWORD: "tenzu123123"
      MINIO_DEFAULT_BUCKETS: "tenzu"
      MINIO_BROWSER: "on"
    ports:
      - "9001:9001"
      - "9000:9000"
    networks:
      tenzu:
    volumes:
      - tenzu-minio:/bitnami/minio/data

  tenzu-ldap:
    image: osixia/openldap:1.5.0
    profiles:
      - ldap
    environment:
      LDAP_ORGANISATION: tenzu.dev
      LDAP_DOMAIN: tenzu.dev
      LDAP_ADMIN_PASSWORD: ldap_admin_pwd
      LDAP_READONLY_USER: "true"
      LDAP_READONLY_USER_PASSWORD: ldap_pwd
    command: --loglevel debug --copy-service
    volumes:
      - ../../ldap/custom:/container/service/slapd/assets/config/bootstrap/ldif/custom
      - tenzu-ldap-db:/var/lib/ldap
      - tenzu-ldap-config:/etc/ldap/slapd.d
    networks:
      - tenzu
#    ports:
#      - 389:389
#      - 636:636

  compile-dep:
    <<: *dev-image
    working_dir: /tenzu
    profiles:
      - compile
    command: >
      sh -c
      "uv pip compile --output-file requirements/devel.txt requirements/devel.in &&
      uv pip compile --output-file requirements/prod.txt requirements/prod.in"
    volumes:
      - ../../${MODULE_NAME}/requirements/:/tenzu/requirements/
  compile-dep-upgrade:
    <<: *dev-image
    working_dir: /tenzu
    restart: on-failure
    profiles:
      - compile-update
    command: >
      sh -c
      "uv pip compile  --upgrade --output-file requirements/devel.txt requirements/devel.in &&
      uv pip compile  --upgrade --output-file requirements/prod.txt requirements/prod.in"
    volumes:
      - ../../${MODULE_NAME}/requirements/:/tenzu/requirements/

volumes:
  tenzu-db-data:
  tenzu-media:
  tenzu-static:
  tenzu-minio:
  tenzu-ldap-db:
  tenzu-ldap-config:
networks:
  tenzu:
