{#
Copyright (C) 2024-2026 BIRU

This file is part of Tenzu.

Tenzu is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.

You can contact BIRU at ask@biru.sh
#}

{% set verify_url = resolve_front_url("VERIFY_SIGNUP", verification_token=verification_token) -%}

{% trans %}emails.sign_up.title{% endtrans %}

{% trans %}emails.sign_up.verify{% endtrans %}

{% trans %}emails.sign_up.copy_link{% endtrans %}
{{ verify_url }}

{% trans %}emails.sign_up.welcome{% endtrans %}

{% trans %}emails.commons.team{% endtrans %}

{% trans expiration=display_lifetime(settings.VERIFY_USER_TOKEN_LIFETIME) %}emails.expiration_date.expiration{% endtrans %}

{% trans %}emails.expiration_date.ignore{% endtrans %}

{% trans support_email=settings.SUPPORT_EMAIL %}emails.commons.support_txt{% endtrans %}
